.container {
  display: flex;
  padding: 0;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
.header-container {
  display: flex;
  padding-left: 24px;
  min-height: 64px;
  align-items: baseline;
  padding: 8px 24px 0;
  justify-content: space-between;
  /*  justify-content: flex-end; */
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-icon-button {
  color: rgba(0, 0, 0, 0.54);
}

.mat-table {
  overflow: auto;
}

.mat-row.selected {
  background-color: #F5F5F5;
}

.mat-cell, .mat-header-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-column-checked {
  flex-grow: 1;
}
.mat-column-id {
  flex-grow: 1;
}
.mat-column-webinarId {
  flex-grow: 2;
}
.mat-column-mail {
  flex-grow: 3;
}
.mat-column-preferredDate {
  flex-grow: 2;
}
.mat-column-edit {
  flex-grow: 1;
  text-align: right;
}
