h2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.0em;
  background: linear-gradient(transparent 60%, rgba(244, 67, 54, 0.6) 60%);
  white-space: nowrap;
}
p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2em;
}
button {
  margin: 0 auto;
}