<md-card class="container">
  <div class="header-container">
    <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="検索">
    </md-input-container>
    <button md-icon-button><md-icon>add</md-icon></button>
    <button md-icon-button (click)="delete()"><md-icon>delete</md-icon></button>
  </div>

  <md-table #table [dataSource]="dataSource">
    <!-- Check Column -->
    <ng-container cdkColumnDef="checked">
      <md-header-cell *cdkHeaderCellDef>
        <md-checkbox [(ngModel)]="allChecked" (click)="clickAll()"></md-checkbox>
      </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <md-checkbox [(ngModel)]="row.checked"></md-checkbox>
      </md-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Header -->
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{selected: row.checked}"></md-row>
  </md-table>

  <md-paginator #paginator [length]="database ? database.data.length : 0" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></md-paginator>
</md-card>