.serch {
  padding-left: 24px;
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  justify-content: space-between;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}
