@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
*/

body {
  margin: 0;
  overflow-y: scroll;
  background-image: url(./assets/img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #e1ecf0;
}
@media only screen and (max-width: 767px) {
  body {
    background-image: url(./assets/img/bg_s.jpg);
  }
}

md-dialog-container.mat-dialog-container {
  max-width: 100%;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #f44336;
}

h2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 2.0em;
}